<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Especialidade</title>
</head>
<body>

    <h1>Cadastrar Especialidade</h1>

    <form action="/especialidades/novo" method="POST">

        <label>Nome:</label>
        <br>

        <input
            type="text"
            name="nome"
            required
        >

        <br><br>

        <label>Descrição:</label>
        <br>

        <input
            type="text"
            name="descricao"
        >

        <br><br>

        <button type="submit">
            Salvar
        </button>

    </form>

    <br>

    <a href="/especialidades">
        Voltar
    </a>

</body>
</html>